<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="APP_Name" value="rest-server"/>
    <springProperty name="LOG_HOME" source="log.home"/>
    <contextName>${APP_Name}</contextName>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${APP_Name}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/${APP_Name}/%d{yyyy-MM-dd__HH}.%i.log</FileNamePattern>
            <maxFileSize>500MB</maxFileSize>
        </rollingPolicy>

        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">

            <customFields>
                {
                "sv":"${APP_Name}",
                "hs":"${HOSTNAME}"
                }
            </customFields>

            <fieldNames>
                <message>msg</message>
            </fieldNames>

        </encoder>
    </appender>

    <appender name ="ASYNC_FILE" class= "ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>1000000</queueSize>
        <!--<neverBlock>true</neverBlock>-->
        <appender-ref ref="FILE"/>
    </appender>

    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <property name="LOG_HOME" value="${LOG_HOME:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}" />

    <springProfile name="dev,test">
        <jmxConfigurator/>
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

            <encoder>
                <pattern>
                    ${CONSOLE_LOG_PATTERN}
                </pattern>
            </encoder>

        </appender>

        <logger name="async" level="info" additivity="false">
            <appender-ref ref="ASYNC_FILE"/>
        </logger>

        <root level="info">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

</configuration>